In [4]:
import pandas as pd

In [6]:
dict=[{'make': 'Nokia', 'model': 216, 'color': 'Black'}, {'make': 'Mi Max', 'model': '2', 'color': 'Gold'}, {'make': 'Samsung', 'model': 7, 'color': 'Blue'}]

In [7]:
type(dict)

list

In [3]:
dict

{'A': '100,200,300', 'B': '400,500,600'}

In [8]:
df = pd.DataFrame(dict)

In [9]:
df

      make model  color
0    Nokia   216  Black
1   Mi Max     2   Gold
2  Samsung     7   Blue

In [ ]:
print(List(df.T.to_json()))

{"0":{"make":"Nokia","model":216,"color":"Black"},"1":{"make":"Mi Max","model":"2","color":"Gold"},"2":{"make":"Samsung","model":7,"color":"Blue"}}